<!DOCTYPE html>
<html lang="en">
  <%- include('./partials/head') %>
  <body>
    <%- include('./partials/header') %>
    <h2>Let's start prepping!</h2>
    <section id="index">
      <div class="week-day">
        <div class="idx-img">
          <img
            src="/imgs/beige-sticky.png"
            class="beige-sticky"
            height="385px"
            width="270px"
          />
        </div>
        <div class="idx-content">
          <h3 class="day-of-week">Monday</h3>
          <a class="recipe-btn" href="/recipes/new">Create a Recipe</a><br />
          <p><em>Your Recipes:</em></p>
          <!-- Loop through recipes and populate them on the assigned day -->
          <% recipe.forEach(r => { %> <% if(r.dayOfWeek === 'Monday') {%>
          <ul>
            <li>
              <a class="recipe-list" href="/recipes/<%=r._id %>"
                ><%=r.entreeName%></a
              >
            </li>
          </ul>
          <%} %> <% }) %>
        </div>
      </div>
      <div class="week-day">
        <div class="idx-img">
          <img
            src="/imgs/beige-sticky.png"
            class="beige-sticky"
            height="385px"
            width="270px"
          />
        </div>
        <div class="idx-content">
          <h3 class="day-of-week">Tuesday</h3>
          <a class="recipe-btn" href="/recipes/new">Create a Recipe</a><br />
          <p><em>Your Recipes:</em></p>
          <% recipe.forEach(r => { %> <% if(r.dayOfWeek === 'Tuesday') {%>
          <ul>
            <li>
              <a class="" href="/recipes/<%=r._id %>"><%=r.entreeName%></a>
            </li>
          </ul>
          <%} %> <% }) %>
        </div>
      </div>
      <div class="week-day">
        <div class="idx-img">
          <img
            src="/imgs/beige-sticky.png"
            class="beige-sticky"
            height="385px"
            width="270px"
          />
        </div>
        <div class="idx-content">
          <h3 class="day-of-week">Wednesday</h3>
          <a class="recipe-btn" href="/recipes/new">Create a Recipe</a><br />
          <p><em>Your Recipes:</em></p>
          <% recipe.forEach(r => { %> <% if(r.dayOfWeek === 'Wednesday') {%>
          <ul>
            <li>
              <a class="recipe-list" href="/recipes/<%=r._id %>"
                ><%=r.entreeName%></a
              >
            </li>
          </ul>
          <%} %> <% }) %>
        </div>
      </div>
      <div class="week-day">
        <div class="idx-img">
          <img
            src="/imgs/beige-sticky.png"
            class="beige-sticky"
            height="385px"
            width="270px"
          />
        </div>
        <div class="idx-content">
          <h3 class="day-of-week">Thursday</h3>
          <a class="recipe-btn" href="/recipes/new">Create a Recipe</a><br />
          <p><em>Your Recipes:</em></p>
          <% recipe.forEach(r => { %> <% if(r.dayOfWeek === 'Thursday') {%>
          <ul>
            <li>
              <a class="recipe-list" href="/recipes/<%=r._id %>"
                ><%=r.entreeName%></a
              >
            </li>
          </ul>
          <%} %> <% }) %>
        </div>
      </div>
      <div class="week-day">
        <div class="idx-img">
          <img
            src="/imgs/beige-sticky.png"
            class="beige-sticky"
            height="385px"
            width="270px"
          />
        </div>
        <div class="idx-content">
          <h3 class="day-of-week">Friday</h3>
          <a class="recipe-btn" href="/recipes/new">Create a Recipe</a>
          <br />
          <p><em>Your Recipes:</em></p>

          <% recipe.forEach(r => { %> <% if(r.dayOfWeek === 'Friday') {%>
          <ul>
            <li>
              <a class="recipe-list" href="/recipes/<%=r._id %>"
                ><%=r.entreeName%></a
              >
            </li>
          </ul>
          <%} %> <% }) %>
        </div>
      </div>
      <div id="shopping-list">
        <h3 class="day-of-week">Shopping List</h3>
        <a class="recipe-btn" href="/shopping-list">View Entire List</a>
        <div class="float-area">
          <div class="floating-img">
            <p><strong>Preview:</strong></p>
            <% for (let i = 0; i < 4; i++) { %>
            <ul>
              <li><%=ingredient[i].ingredientName%></li>
            </ul>
            <% }%>
          </div>
        </div>
      </div>
    </section>
    <main class="footer"><%- include('./partials/footer') %></main>
  </body>
</html>
