<!DOCTYPE html>
<html lang="en">
  <%- include('../partials/head') %>
  <body>
  <%- include('../partials/header') %>
    <section class="table">
      <table class="ingredients-table">
       
           <thead>
          <tr>
            <th>Item</th>
            <th>Delete</th>
          </tr>
        </thead>
        <tbody>
          <% Ingredient.forEach(i => { %> <%
          i.ingredientName.forEach(r => { %>
          <tr>
            <td><%=r%></td>
            <td>
              <form
                class="delete-button"
                action="/shopping-list/<%=i._id%>?_method=DELETE"
                method="POST"
              >
                <input class="delete" type="submit" value="X" />
              </form>
            </td>
          </tr>

          <% }) %> <% }) %>
        </tbody>
    </section> 
  <main class="footer"><%- include('../partials/footer') %></main>
  </body>
</html>
