<!DOCTYPE html>
<html lang="en">
  <%- include('../partials/head') %>
  <body>
  <%- include('../partials/header') %>
  <div class="shopping-list-div">
    <section class="shopping-table">    
      <h2>Your Weekly Shopping List:</h2>
      <div class="shopping-list-div">
      <img class="shop-img" src="/imgs/shopping.png" alt="man checking out at grocery store">
      <table class="ingredients-table">
        <div class="shopping-thead">
           <thead>
          <tr>
            <th>Item</th>
            <th>Delete</th>
          </tr>
        </thead>
        </div>
        <div class="shopping-tbody">
        <tbody>
          <% Ingredient.forEach(i => { %> 
          <tr>
            <td><%=i.ingredientName%></td>
            <td>
              <form
                action="/shopping-list/<%=i._id%>?_method=DELETE"
                method="POST"
              >
                <input id="delete-btn" type="submit" value="X" />
              </form>
            </td>
          </tr>

          <% }) %> 
        </tbody>
        </div>
      </div>
    </section> 
  </div>  
  <main class="footer"><%- include('../partials/footer') %></main>
  </body>
</html>
