<!DOCTYPE html>
<html lang="en">
  <%- include('../partials/head') %>
  <body>
    <%- include('../partials/header') %>
    <section>
      <div>
        <h2>Day of Week: <%=recipe.dayOfWeek%></h2>
      </div>
      <div>
        <h2>Entree Name</h2>
        <p><%=recipe.entreeName%></p>
      </div>
      <div>
        <h2>Cook Time</h2>

        <p><%=recipe.cookTime%></p>
      </div>
      <div>
        <h2>Ingredients</h2>
        <%ingredient.forEach(p => { %>
          <ul>
            <li><%=p.quantity%> <%=p.ingredientName%></li>
          </ul>
     <%   })%>
      </ul>

      </div>
      <div>

        <h2>Directions</h2>

        <p><%=recipe.directions%></p>

      </div>
        
    
    </section>

    <main class="footer"><%- include('../partials/footer') %></main>
  </body>
</html>
